<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body class="login-page">

    <div class="login-container">
        <div class="login-card">

            <img src="../static/image/logos.png" alt="Anchor Logo" class="login-logo">

            <h1>Login</h1>
            
            <form>
                <div class="input-group">
                    <input type="email" id="reset-email" placeholder="example@gmail.com">
                </div>

                <div class="input-group">
                    <input type="password" placeholder="Password" required>
                </div>
                
                <button type="submit" class="login-btn">Login</button>
            </form>

            <div class="links">
                <p>Forgot <a href="forgot.html">Password?</a></p>
                <p>Don't have an account? <a href="signup.html">Sign up</a></p>
            </div>

            <hr>

            <button type="button" class="back-btn" onclick="window.location.href='index.html'">
             Back to Main Website
          </button>
        </div>

        <footer class="login-footer">
            Published by Anchor Collection Services Inc.
        </footer>
    </div>

</body>
</html>