<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <div class="login-container">
        <div class="login-card">
      <img src="../static/css/image/logo.png" alt="Anchor Logo" class="logo">

            <h1>Login</h1>
            
            <form>
                <div class="input-group">
                    <input type="email" placeholder="Email" required>
                </div>
                <div class="input-group">
                    <input type="password" placeholder="Password" required>
                </div>
                
                <button type="submit" class="login-btn">Login</button>
            </form>

            <div class="links">
                <p>Forgot <a href="#">Password?</a></p>
                <p>Don't have an account? <a href="#">Sign up</a></p>
            </div>

            <hr>

            <div class="bottom-action">
                <button type="button" class="back-btn">Back to Main Website</button>
            </div>
        </div>

        <footer class="footer">
            Published by Anchor Collection Services Inc.
        </footer>
    </div>

</body>
</html>